<h1 class="title">{{title}}</h1>
<p id="txt">You can search characters from marvel universe. This will show you
  the characters related to the name.</p>
<form action="/search" method="POST">
  <label for="name">
    Search Character</label>
  <input
    id="name"
    type="text"
    name="searchTerm"
    placeholder="Enter Character"
  />
  <input id="sub" type="submit" />
</form>